# Node modules
node_modules/
**/node_modules/

# Build outputs
client/build/
server/build/
dist/
coverage/

# Env files (keep them out of git)
*.env
.env
.env.*


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log
*.log.*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
